<<<<<<< HEAD
@media (max-width: 576px){
=======
@media (max-widht:576px){
>>>>>>> fa1efa7667bc7a5a5a2e758e186f83e31d4138f5
    .titulo{
        opacity: 0;
    }

<<<<<<< HEAD
    nav{
=======
    nav {
>>>>>>> fa1efa7667bc7a5a5a2e758e186f83e31d4138f5
        display: none;
    }

    main {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> fa1efa7667bc7a5a5a2e758e186f83e31d4138f5
